/** @format */

.item-container {
  width: 100%;
  height: 100vh;
  background: #141414;
}
.item-padding-2 {
  padding: 5% 10%;
}
.items {
  height: 80vh;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.253);
}
.item-contents {
  width: 100%;
  height: 100%;
  background: url("https://images.pexels.com/photos/68814/pexels-photo-68814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.item-contents::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(202, 202, 202) 10%, white 90%);
  content: "";
}
.span-tag {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.item-contents .item-img {
  width: 400px;
  height: 380px;
  position: relative;
  z-index: 10;
  background: transparent;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  margin-left: 3rem;
}
.item-text {
  position: relative;
  z-index: 12;
  align-self: center;
  margin-right: 15rem;
  font-family: "Montserrat", sans-serif;
}
.item-text h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2.1rem;
  letter-spacing: 0.8px;
  margin: 1rem 0 0.6rem;
}
.item-text p {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.678);
  text-transform: capitalize;
  margin: 0.8rem 0;
}
.item-text p:nth-last-child(3) {
  color: rgb(204, 39, 39);
  font-weight: 500;
  font-size: 1.1rem;
}
.item-text .add-to-cart,
.go-to-cart {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0.6rem 1rem;
  outline: none;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background: transparent;
  width: 15rem;
  transition: 0.35s;
  margin-top: 2rem;
  transition: 0.35s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.068);
}
.go-to-cart {
  animation: opacitya;
}
@keyframes opacitya {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.item-text .add-to-cart:hover {
  background-color: rgb(236, 64, 64);
  color: aliceblue;
}
@media screen and (max-width: 1261px) {
  .item-img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    margin-left: 1rem;
  }
  .item-text {
    align-self: center;
    margin-right: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  .item-text h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 875px) {
  .item-img img {
    margin-left: 0rem;
  }

  .item-text {
    text-align: center;
    position: relative;
    bottom: 4rem;
  }
  .item-text .add-to-cart,
  .go-to-cart {
    margin-top: 1rem;
  }
  .item-text h2 {
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
  .items {
    margin-top: 0rem;
    height: 90vh;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.253);
  }
}
@media screen and (max-width: 550px) {
  .item-padding-2 {
    padding: 0% 0%;
  }

  .item-contents .item-img {
    max-width: 80%;
    height: 310px;

    background: transparent;
  }

  .item-img img {
    margin-left: 0rem;
  }
  .item-text {
    bottom: 5rem;
    margin-top: 0.9rem;
    margin-right: 0;
  }
  .item-text h2 {
    font-size: 1.8rem;
  }
  .span-tag {
    bottom: 1rem;
    right: 1rem;
  }
  .items {
    margin-top: 0rem;
    height: 100vh;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.253);
  }
}
